body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  padding: 0;
}

h2 {
  color: #212121;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header-section {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 15px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-wrapper {
  display: flex;
}

.header-nav {
  margin-left: 276px;
}

.studio-black {
  display: flex;
  align-items: center;
}

.logo-black {
  display: flex;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-web {
  display: flex;
  align-items: center;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-style: 400;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: #212121;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav .link-current {
  display: block;
  position: relative;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
  color: #2196F3;
}

.site-nav .link-current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #2196F3;
  opacity: 0;
}

.site-nav .link-current:hover::after {
  opacity: 1;
}

.contact {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.link-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.link-contact:hover, .link-contact:focus {
  color: #2196F3;
}

.link-contact-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.link-contact:hover .link-contact-email {
  fill: #2196f3;
}

.link-contact-phone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.link-contact:hover .link-contact-phone {
  fill: #2196f3;
}

.menu-mobile {
  width: 24px;
  height: 16px;
}

.button-menu-icon {
  display: flex;
  width: 24px;
  height: 16px;
}

.button-menu-icon {
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-menu-icon .icon-close {
  display: none;
}

.button-menu-icon .is-open .icon-close {
  display: block;
}

.button-menu-icon .is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    padding: 26px 15px;
  }
  .header-nav {
    margin-left: 88px;
  }
  .contact {
    display: block;
  }
  .link-contact {
    font-size: 12px;
    line-height: 1.17;
  }
  .link-contact-phone {
    width: 10px;
    height: 14px;
  }
  .link-contact-email {
    width: 14px;
    height: 10px;
  }
  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    padding: 24px 15px 25px 15px;
  }
  .header-nav {
    margin-left: 93px;
  }
  .logo-black {
    font-size: 26px;
    line-height: 1.19;
  }
  .header-web {
    font-size: 26px;
    line-height: 1.19;
  }
  .contact .item + .item {
    margin-left: 30px;
  }
  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-section {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-section {
    padding-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
  }
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  border: 1px solid #EEEEEE;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: absolute;
  bottom: 28%;
  color: #FFFFFF;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  content: "";
  width: 100%;
  height: 72%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(10%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.overlay {
  margin: 0;
}

.portfolio-box {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
}

.title-portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  color: #212121;
  font-size: 18px;
  line-height: 2;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  margin-bottom: 114px;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 75px;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contact-form {
  width: 100%;
  display: flex;
}

.footer-email-box {
  width: 450px;
  height: 50px;
  position: relative;
  margin-top: 20px;
}

.footer-contact-form-input {
  padding: 15px 295px 15px 16px;
  background: #2F303A;
  margin-bottom: 20px;
  outline: none;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.contact-form-btn {
  display: block;
  margin: 0 auto;
  min-width: 195px;
  height: 50px;
  padding: 10px 62px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  right: 160px;
  top: 90px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-wrapper {
    flex-direction: column;
    margin-left: 93px;
    width: 570px;
  }
  .footer-email-box {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-wrapper {
    flex-direction: column;
    margin-left: 93px;
    width: 570px;
  }
  .footer-email-box {
    display: flex;
    margin-right: 0;
  }
  .footer-contact-form-input {
    width: 358px;
  }
  .contact-form-btn {
    margin-left: 12px;
  }
  .footer-form-icon {
    right: -85px;
    top: 17px;
  }
}

.footer-container {
  display: block;
  padding: 0;
}

.footer-section {
  height: 603px;
  padding: 60px 15px;
  background: #2F303A;
}

.footer-web {
  display: flex;
  margin-bottom: 20px;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.address {
  margin-bottom: 9px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contact {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.footer-contact .link-contact {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-name-text {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  text-align: left;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-icon-iteam:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: 0.4, 0, 0.2, 1;
}

.footer-icon-link:hover {
  background-color: #2196f3;
}

.footer-icon-svg {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.footer-form-icon {
  width: 24px;
  height: 16px;
}

.logo-white {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

.footer-contact-form-input {
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-container {
    height: 490px;
  }
  .address {
    display: flex;
    justify-content: center;
  }
  .footer-contact {
    margin-bottom: 60px;
  }
  .footer-contact .link-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
  }
  .footer-name-text {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-section {
    height: 463px;
    padding-right: 89px;
    padding-left: 76px;
  }
  .logotype {
    text-align: center;
    margin-bottom: 50px;
  }
  .contact-wrapper {
    display: block;
    margin: 0;
    margin-left: 90px;
    width: 450px;
    height: 165px;
  }
  .footer-name-text {
    margin-top: 10px;
  }
  .contact-form {
    width: 450px;
    height: 50px;
    margin: 0;
  }
  .footer-social-list {
    margin-left: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
  .footer-section {
    height: 252px;
  }
  .footer-web {
    font-size: 26px;
  }
  .footer-contact .link-contact {
    margin-bottom: 9px;
  }
  .footer-name-text {
    display: block;
    margin-top: 12px;
  }
  .footer-social-list {
    margin-left: 70px;
  }
  .logo-white {
    justify-content: flex-start;
    font-size: 26px;
    line-height: 1.2;
  }
}
/*# sourceMappingURL=portfolio.css.map */